# Ignore folders
.idea
project-code/cmake-build-debug
project-code/AllTests/cmake-build-debug/

#Ignore files
*.com
*.classw
*.dll
*.exe
*.o
*.so
*.xml
project-code/cmake-build-debug-wsl/
project-code/cmake-build-debug-mingw/
/test output/
