# Ignore folders
.idea
project-code/cmake-build-debug
project-code/AllTests/cmake-build-debug/

#Ignore files
*.com
*.classw
*.dll
*.exe
*.o
*.so
*.xml
project-code/cmake-build-debug-wsl/AllTests/AllTests.cbp
project-code/cmake-build-debug-wsl/AllTests/cmake_install.cmake
project-code/cmake-build-debug-wsl/AllTests/CMakeFiles/AllTests.dir/build.make
project-code/cmake-build-debug-wsl/AllTests/CMakeFiles/AllTests.dir/cmake_clean.cmake
project-code/cmake-build-debug-wsl/AllTests/CMakeFiles/AllTests.dir/depend.make
project-code/cmake-build-debug-wsl/AllTests/CMakeFiles/AllTests.dir/DependInfo.cmake
project-code/cmake-build-debug-wsl/AllTests/CMakeFiles/AllTests.dir/flags.make
project-code/cmake-build-debug-wsl/AllTests/CMakeFiles/AllTests.dir/link.txt
project-code/cmake-build-debug-wsl/AllTests/CMakeFiles/AllTests.dir/progress.make
project-code/cmake-build-debug-wsl/AllTests/CMakeFiles/CMakeDirectoryInformation.cmake
project-code/cmake-build-debug-wsl/AllTests/CMakeFiles/progress.marks
project-code/cmake-build-debug-wsl/AllTests/lib/cmake_install.cmake
project-code/cmake-build-debug-wsl/AllTests/lib/CMakeFiles/CMakeDirectoryInformation.cmake
project-code/cmake-build-debug-wsl/AllTests/lib/CMakeFiles/progress.marks
project-code/cmake-build-debug-wsl/AllTests/lib/CTestTestfile.cmake
project-code/cmake-build-debug-wsl/AllTests/lib/googlemock/cmake_install.cmake
project-code/cmake-build-debug-wsl/AllTests/lib/googlemock/CMakeFiles/CMakeDirectoryInformation.cmake
project-code/cmake-build-debug-wsl/AllTests/lib/googlemock/CMakeFiles/gmock.dir/build.make
project-code/cmake-build-debug-wsl/AllTests/lib/googlemock/CMakeFiles/gmock.dir/cmake_clean.cmake
project-code/cmake-build-debug-wsl/AllTests/lib/googlemock/CMakeFiles/gmock.dir/cmake_clean_target.cmake
project-code/cmake-build-debug-wsl/AllTests/lib/googlemock/CMakeFiles/gmock.dir/depend.make
project-code/cmake-build-debug-wsl/AllTests/lib/googlemock/CMakeFiles/gmock.dir/DependInfo.cmake
project-code/cmake-build-debug-wsl/AllTests/lib/googlemock/CMakeFiles/gmock.dir/flags.make
project-code/cmake-build-debug-wsl/AllTests/lib/googlemock/CMakeFiles/gmock.dir/link.txt
project-code/cmake-build-debug-wsl/AllTests/lib/googlemock/CMakeFiles/gmock.dir/progress.make
project-code/cmake-build-debug-wsl/AllTests/lib/googlemock/CMakeFiles/gmock_main.dir/build.make
project-code/cmake-build-debug-wsl/AllTests/lib/googlemock/CMakeFiles/gmock_main.dir/cmake_clean.cmake
project-code/cmake-build-debug-wsl/AllTests/lib/googlemock/CMakeFiles/gmock_main.dir/cmake_clean_target.cmake
project-code/cmake-build-debug-wsl/AllTests/lib/googlemock/CMakeFiles/gmock_main.dir/depend.make
project-code/cmake-build-debug-wsl/AllTests/lib/googlemock/CMakeFiles/gmock_main.dir/DependInfo.cmake
project-code/cmake-build-debug-wsl/AllTests/lib/googlemock/CMakeFiles/gmock_main.dir/flags.make
project-code/cmake-build-debug-wsl/AllTests/lib/googlemock/CMakeFiles/gmock_main.dir/link.txt
project-code/cmake-build-debug-wsl/AllTests/lib/googlemock/CMakeFiles/gmock_main.dir/progress.make
project-code/cmake-build-debug-wsl/AllTests/lib/googlemock/CMakeFiles/progress.marks
project-code/cmake-build-debug-wsl/AllTests/lib/googlemock/CTestTestfile.cmake
project-code/cmake-build-debug-wsl/AllTests/lib/googlemock/gmock.cbp
project-code/cmake-build-debug-wsl/AllTests/lib/googlemock/Makefile
project-code/cmake-build-debug-wsl/AllTests/lib/googletest-distribution.cbp
project-code/cmake-build-debug-wsl/AllTests/lib/googletest/cmake_install.cmake
project-code/cmake-build-debug-wsl/AllTests/lib/googletest/CMakeFiles/CMakeDirectoryInformation.cmake
project-code/cmake-build-debug-wsl/AllTests/lib/googletest/CMakeFiles/Export/lib/cmake/GTest/GTestTargets-debug.cmake
project-code/cmake-build-debug-wsl/AllTests/lib/googletest/CMakeFiles/Export/lib/cmake/GTest/GTestTargets.cmake
project-code/cmake-build-debug-wsl/AllTests/lib/googletest/CMakeFiles/gtest.dir/build.make
project-code/cmake-build-debug-wsl/AllTests/lib/googletest/CMakeFiles/gtest.dir/cmake_clean.cmake
project-code/cmake-build-debug-wsl/AllTests/lib/googletest/CMakeFiles/gtest.dir/cmake_clean_target.cmake
project-code/cmake-build-debug-wsl/AllTests/lib/googletest/CMakeFiles/gtest.dir/depend.make
project-code/cmake-build-debug-wsl/AllTests/lib/googletest/CMakeFiles/gtest.dir/DependInfo.cmake
project-code/cmake-build-debug-wsl/AllTests/lib/googletest/CMakeFiles/gtest.dir/flags.make
project-code/cmake-build-debug-wsl/AllTests/lib/googletest/CMakeFiles/gtest.dir/link.txt
project-code/cmake-build-debug-wsl/AllTests/lib/googletest/CMakeFiles/gtest.dir/progress.make
project-code/cmake-build-debug-wsl/AllTests/lib/googletest/CMakeFiles/gtest_main.dir/build.make
project-code/cmake-build-debug-wsl/AllTests/lib/googletest/CMakeFiles/gtest_main.dir/cmake_clean.cmake
project-code/cmake-build-debug-wsl/AllTests/lib/googletest/CMakeFiles/gtest_main.dir/cmake_clean_target.cmake
project-code/cmake-build-debug-wsl/AllTests/lib/googletest/CMakeFiles/gtest_main.dir/depend.make
project-code/cmake-build-debug-wsl/AllTests/lib/googletest/CMakeFiles/gtest_main.dir/DependInfo.cmake
project-code/cmake-build-debug-wsl/AllTests/lib/googletest/CMakeFiles/gtest_main.dir/flags.make
project-code/cmake-build-debug-wsl/AllTests/lib/googletest/CMakeFiles/gtest_main.dir/link.txt
project-code/cmake-build-debug-wsl/AllTests/lib/googletest/CMakeFiles/gtest_main.dir/progress.make
project-code/cmake-build-debug-wsl/AllTests/lib/googletest/CMakeFiles/progress.marks
project-code/cmake-build-debug-wsl/AllTests/lib/googletest/CTestTestfile.cmake
project-code/cmake-build-debug-wsl/AllTests/lib/googletest/generated/gmock.pc
project-code/cmake-build-debug-wsl/AllTests/lib/googletest/generated/gmock_main.pc
project-code/cmake-build-debug-wsl/AllTests/lib/googletest/generated/gtest.pc
project-code/cmake-build-debug-wsl/AllTests/lib/googletest/generated/gtest_main.pc
project-code/cmake-build-debug-wsl/AllTests/lib/googletest/generated/GTestConfig.cmake
project-code/cmake-build-debug-wsl/AllTests/lib/googletest/generated/GTestConfigVersion.cmake
project-code/cmake-build-debug-wsl/AllTests/lib/googletest/gtest.cbp
project-code/cmake-build-debug-wsl/AllTests/lib/googletest/Makefile
project-code/cmake-build-debug-wsl/AllTests/lib/Makefile
project-code/cmake-build-debug-wsl/AllTests/Makefile
project-code/cmake-build-debug-wsl/cmake_install.cmake
project-code/cmake-build-debug-wsl/CMakeCache.txt
project-code/cmake-build-debug-wsl/CMakeFiles/3.10.2/CMakeCCompiler.cmake
project-code/cmake-build-debug-wsl/CMakeFiles/3.10.2/CMakeCXXCompiler.cmake
project-code/cmake-build-debug-wsl/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_C.bin
project-code/cmake-build-debug-wsl/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_CXX.bin
project-code/cmake-build-debug-wsl/CMakeFiles/3.10.2/CMakeSystem.cmake
project-code/cmake-build-debug-wsl/CMakeFiles/3.10.2/CompilerIdC/a.out
project-code/cmake-build-debug-wsl/CMakeFiles/3.10.2/CompilerIdC/CMakeCCompilerId.c
project-code/cmake-build-debug-wsl/CMakeFiles/3.10.2/CompilerIdCXX/a.out
project-code/cmake-build-debug-wsl/CMakeFiles/3.10.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
project-code/cmake-build-debug-wsl/CMakeFiles/clion-environment.txt
project-code/cmake-build-debug-wsl/CMakeFiles/clion-log.txt
project-code/cmake-build-debug-wsl/CMakeFiles/cmake.check_cache
project-code/cmake-build-debug-wsl/CMakeFiles/CMakeDirectoryInformation.cmake
project-code/cmake-build-debug-wsl/CMakeFiles/CMakeError.log
project-code/cmake-build-debug-wsl/CMakeFiles/CMakeOutput.log
project-code/cmake-build-debug-wsl/CMakeFiles/decoder.dir/build.make
project-code/cmake-build-debug-wsl/CMakeFiles/decoder.dir/cmake_clean.cmake
project-code/cmake-build-debug-wsl/CMakeFiles/decoder.dir/CXX.includecache
project-code/cmake-build-debug-wsl/CMakeFiles/decoder.dir/depend.internal
project-code/cmake-build-debug-wsl/CMakeFiles/decoder.dir/depend.make
project-code/cmake-build-debug-wsl/CMakeFiles/decoder.dir/DependInfo.cmake
project-code/cmake-build-debug-wsl/CMakeFiles/decoder.dir/flags.make
project-code/cmake-build-debug-wsl/CMakeFiles/decoder.dir/link.txt
project-code/cmake-build-debug-wsl/CMakeFiles/decoder.dir/progress.make
project-code/cmake-build-debug-wsl/CMakeFiles/feature_tests.bin
project-code/cmake-build-debug-wsl/CMakeFiles/feature_tests.c
project-code/cmake-build-debug-wsl/CMakeFiles/feature_tests.cxx
project-code/cmake-build-debug-wsl/CMakeFiles/Makefile.cmake
project-code/cmake-build-debug-wsl/CMakeFiles/Makefile2
project-code/cmake-build-debug-wsl/CMakeFiles/progress.marks
project-code/cmake-build-debug-wsl/CMakeFiles/TargetDirectories.txt
project-code/cmake-build-debug-wsl/decoder
project-code/cmake-build-debug-wsl/Makefile
project-code/cmake-build-debug-wsl/PictureDecoder/cmake_install.cmake
project-code/cmake-build-debug-wsl/PictureDecoder/CMakeFiles/CMakeDirectoryInformation.cmake
project-code/cmake-build-debug-wsl/PictureDecoder/CMakeFiles/PictureDecoder.dir/build.make
project-code/cmake-build-debug-wsl/PictureDecoder/CMakeFiles/PictureDecoder.dir/cmake_clean.cmake
project-code/cmake-build-debug-wsl/PictureDecoder/CMakeFiles/PictureDecoder.dir/cmake_clean_target.cmake
project-code/cmake-build-debug-wsl/PictureDecoder/CMakeFiles/PictureDecoder.dir/CXX.includecache
project-code/cmake-build-debug-wsl/PictureDecoder/CMakeFiles/PictureDecoder.dir/depend.internal
project-code/cmake-build-debug-wsl/PictureDecoder/CMakeFiles/PictureDecoder.dir/depend.make
project-code/cmake-build-debug-wsl/PictureDecoder/CMakeFiles/PictureDecoder.dir/DependInfo.cmake
project-code/cmake-build-debug-wsl/PictureDecoder/CMakeFiles/PictureDecoder.dir/flags.make
project-code/cmake-build-debug-wsl/PictureDecoder/CMakeFiles/PictureDecoder.dir/link.txt
project-code/cmake-build-debug-wsl/PictureDecoder/CMakeFiles/PictureDecoder.dir/progress.make
project-code/cmake-build-debug-wsl/PictureDecoder/CMakeFiles/progress.marks
project-code/cmake-build-debug-wsl/PictureDecoder/libPictureDecoder.a
project-code/cmake-build-debug-wsl/PictureDecoder/Makefile
project-code/cmake-build-debug-wsl/PictureDecoder/PictureDecoder.cbp
project-code/cmake-build-debug-wsl/project-code.cbp
project-code/cmake-build-debug-wsl/StreamPackets/ESPackets/cmake_install.cmake
project-code/cmake-build-debug-wsl/StreamPackets/ESPackets/CMakeFiles/CMakeDirectoryInformation.cmake
project-code/cmake-build-debug-wsl/StreamPackets/ESPackets/CMakeFiles/ESPackets.dir/build.make
project-code/cmake-build-debug-wsl/StreamPackets/ESPackets/CMakeFiles/ESPackets.dir/cmake_clean.cmake
project-code/cmake-build-debug-wsl/StreamPackets/ESPackets/CMakeFiles/ESPackets.dir/cmake_clean_target.cmake
project-code/cmake-build-debug-wsl/StreamPackets/ESPackets/CMakeFiles/ESPackets.dir/CXX.includecache
project-code/cmake-build-debug-wsl/StreamPackets/ESPackets/CMakeFiles/ESPackets.dir/depend.internal
project-code/cmake-build-debug-wsl/StreamPackets/ESPackets/CMakeFiles/ESPackets.dir/depend.make
project-code/cmake-build-debug-wsl/StreamPackets/ESPackets/CMakeFiles/ESPackets.dir/DependInfo.cmake
project-code/cmake-build-debug-wsl/StreamPackets/ESPackets/CMakeFiles/ESPackets.dir/flags.make
project-code/cmake-build-debug-wsl/StreamPackets/ESPackets/CMakeFiles/ESPackets.dir/link.txt
project-code/cmake-build-debug-wsl/StreamPackets/ESPackets/CMakeFiles/ESPackets.dir/progress.make
project-code/cmake-build-debug-wsl/StreamPackets/ESPackets/CMakeFiles/progress.marks
project-code/cmake-build-debug-wsl/StreamPackets/ESPackets/ESPackets.cbp
project-code/cmake-build-debug-wsl/StreamPackets/ESPackets/libESPackets.a
project-code/cmake-build-debug-wsl/StreamPackets/ESPackets/Makefile
project-code/cmake-build-debug-wsl/StreamPackets/TSPackets/cmake_install.cmake
project-code/cmake-build-debug-wsl/StreamPackets/TSPackets/CMakeFiles/CMakeDirectoryInformation.cmake
project-code/cmake-build-debug-wsl/StreamPackets/TSPackets/CMakeFiles/progress.marks
project-code/cmake-build-debug-wsl/StreamPackets/TSPackets/CMakeFiles/TransportPacket.dir/build.make
project-code/cmake-build-debug-wsl/StreamPackets/TSPackets/CMakeFiles/TransportPacket.dir/cmake_clean.cmake
project-code/cmake-build-debug-wsl/StreamPackets/TSPackets/CMakeFiles/TransportPacket.dir/cmake_clean_target.cmake
project-code/cmake-build-debug-wsl/StreamPackets/TSPackets/CMakeFiles/TransportPacket.dir/CXX.includecache
project-code/cmake-build-debug-wsl/StreamPackets/TSPackets/CMakeFiles/TransportPacket.dir/depend.internal
project-code/cmake-build-debug-wsl/StreamPackets/TSPackets/CMakeFiles/TransportPacket.dir/depend.make
project-code/cmake-build-debug-wsl/StreamPackets/TSPackets/CMakeFiles/TransportPacket.dir/DependInfo.cmake
project-code/cmake-build-debug-wsl/StreamPackets/TSPackets/CMakeFiles/TransportPacket.dir/flags.make
project-code/cmake-build-debug-wsl/StreamPackets/TSPackets/CMakeFiles/TransportPacket.dir/link.txt
project-code/cmake-build-debug-wsl/StreamPackets/TSPackets/CMakeFiles/TransportPacket.dir/progress.make
project-code/cmake-build-debug-wsl/StreamPackets/TSPackets/libTransportPacket.a
project-code/cmake-build-debug-wsl/StreamPackets/TSPackets/Makefile
project-code/cmake-build-debug-wsl/StreamPackets/TSPackets/TransportPacket.cbp
project-code/cmake-build-debug-wsl/StreamPackets/TSPayloadSections/cmake_install.cmake
project-code/cmake-build-debug-wsl/StreamPackets/TSPayloadSections/CMakeFiles/CMakeDirectoryInformation.cmake
project-code/cmake-build-debug-wsl/StreamPackets/TSPayloadSections/CMakeFiles/progress.marks
project-code/cmake-build-debug-wsl/StreamPackets/TSPayloadSections/CMakeFiles/TSPayloadSections.dir/build.make
project-code/cmake-build-debug-wsl/StreamPackets/TSPayloadSections/CMakeFiles/TSPayloadSections.dir/cmake_clean.cmake
project-code/cmake-build-debug-wsl/StreamPackets/TSPayloadSections/CMakeFiles/TSPayloadSections.dir/cmake_clean_target.cmake
project-code/cmake-build-debug-wsl/StreamPackets/TSPayloadSections/CMakeFiles/TSPayloadSections.dir/CXX.includecache
project-code/cmake-build-debug-wsl/StreamPackets/TSPayloadSections/CMakeFiles/TSPayloadSections.dir/depend.internal
project-code/cmake-build-debug-wsl/StreamPackets/TSPayloadSections/CMakeFiles/TSPayloadSections.dir/depend.make
project-code/cmake-build-debug-wsl/StreamPackets/TSPayloadSections/CMakeFiles/TSPayloadSections.dir/DependInfo.cmake
project-code/cmake-build-debug-wsl/StreamPackets/TSPayloadSections/CMakeFiles/TSPayloadSections.dir/flags.make
project-code/cmake-build-debug-wsl/StreamPackets/TSPayloadSections/CMakeFiles/TSPayloadSections.dir/link.txt
project-code/cmake-build-debug-wsl/StreamPackets/TSPayloadSections/CMakeFiles/TSPayloadSections.dir/progress.make
project-code/cmake-build-debug-wsl/StreamPackets/TSPayloadSections/libTSPayloadSections.a
project-code/cmake-build-debug-wsl/StreamPackets/TSPayloadSections/Makefile
project-code/cmake-build-debug-wsl/StreamPackets/TSPayloadSections/TSPayloadSections.cbp
project-code/cmake-build-debug-wsl/StreamParsers/cmake_install.cmake
project-code/cmake-build-debug-wsl/StreamParsers/CMakeFiles/CMakeDirectoryInformation.cmake
project-code/cmake-build-debug-wsl/StreamParsers/CMakeFiles/progress.marks
project-code/cmake-build-debug-wsl/StreamParsers/CMakeFiles/StreamParsers.dir/build.make
project-code/cmake-build-debug-wsl/StreamParsers/CMakeFiles/StreamParsers.dir/cmake_clean.cmake
project-code/cmake-build-debug-wsl/StreamParsers/CMakeFiles/StreamParsers.dir/cmake_clean_target.cmake
project-code/cmake-build-debug-wsl/StreamParsers/CMakeFiles/StreamParsers.dir/CXX.includecache
project-code/cmake-build-debug-wsl/StreamParsers/CMakeFiles/StreamParsers.dir/depend.internal
project-code/cmake-build-debug-wsl/StreamParsers/CMakeFiles/StreamParsers.dir/depend.make
project-code/cmake-build-debug-wsl/StreamParsers/CMakeFiles/StreamParsers.dir/DependInfo.cmake
project-code/cmake-build-debug-wsl/StreamParsers/CMakeFiles/StreamParsers.dir/flags.make
project-code/cmake-build-debug-wsl/StreamParsers/CMakeFiles/StreamParsers.dir/link.txt
project-code/cmake-build-debug-wsl/StreamParsers/CMakeFiles/StreamParsers.dir/progress.make
project-code/cmake-build-debug-wsl/StreamParsers/libStreamParsers.a
project-code/cmake-build-debug-wsl/StreamParsers/Makefile
project-code/cmake-build-debug-wsl/StreamParsers/StreamParsers.cbp
project-code/cmake-build-debug-wsl/Util/cmake_install.cmake
project-code/cmake-build-debug-wsl/Util/CMakeFiles/CMakeDirectoryInformation.cmake
project-code/cmake-build-debug-wsl/Util/CMakeFiles/progress.marks
project-code/cmake-build-debug-wsl/Util/CMakeFiles/Util.dir/build.make
project-code/cmake-build-debug-wsl/Util/CMakeFiles/Util.dir/cmake_clean.cmake
project-code/cmake-build-debug-wsl/Util/CMakeFiles/Util.dir/cmake_clean_target.cmake
project-code/cmake-build-debug-wsl/Util/CMakeFiles/Util.dir/CXX.includecache
project-code/cmake-build-debug-wsl/Util/CMakeFiles/Util.dir/depend.internal
project-code/cmake-build-debug-wsl/Util/CMakeFiles/Util.dir/depend.make
project-code/cmake-build-debug-wsl/Util/CMakeFiles/Util.dir/DependInfo.cmake
project-code/cmake-build-debug-wsl/Util/CMakeFiles/Util.dir/flags.make
project-code/cmake-build-debug-wsl/Util/CMakeFiles/Util.dir/link.txt
project-code/cmake-build-debug-wsl/Util/CMakeFiles/Util.dir/progress.make
project-code/cmake-build-debug-wsl/Util/libUtil.a
project-code/cmake-build-debug-wsl/Util/Makefile
project-code/cmake-build-debug-wsl/Util/Util.cbp
project-code/cmake-build-debug-wsl/VideoDecoder/cmake_install.cmake
project-code/cmake-build-debug-wsl/VideoDecoder/CMakeFiles/CMakeDirectoryInformation.cmake
project-code/cmake-build-debug-wsl/VideoDecoder/CMakeFiles/progress.marks
project-code/cmake-build-debug-wsl/VideoDecoder/CMakeFiles/VideoDecoder.dir/build.make
project-code/cmake-build-debug-wsl/VideoDecoder/CMakeFiles/VideoDecoder.dir/cmake_clean.cmake
project-code/cmake-build-debug-wsl/VideoDecoder/CMakeFiles/VideoDecoder.dir/cmake_clean_target.cmake
project-code/cmake-build-debug-wsl/VideoDecoder/CMakeFiles/VideoDecoder.dir/CXX.includecache
project-code/cmake-build-debug-wsl/VideoDecoder/CMakeFiles/VideoDecoder.dir/depend.internal
project-code/cmake-build-debug-wsl/VideoDecoder/CMakeFiles/VideoDecoder.dir/depend.make
project-code/cmake-build-debug-wsl/VideoDecoder/CMakeFiles/VideoDecoder.dir/DependInfo.cmake
project-code/cmake-build-debug-wsl/VideoDecoder/CMakeFiles/VideoDecoder.dir/flags.make
project-code/cmake-build-debug-wsl/VideoDecoder/CMakeFiles/VideoDecoder.dir/link.txt
project-code/cmake-build-debug-wsl/VideoDecoder/CMakeFiles/VideoDecoder.dir/progress.make
project-code/cmake-build-debug-wsl/VideoDecoder/libVideoDecoder.a
project-code/cmake-build-debug-wsl/VideoDecoder/Makefile
project-code/cmake-build-debug-wsl/VideoDecoder/VideoDecoder.cbp
